{% extends 'base.html' %}

{% block content %}
<div class="container-fluid p-2 bg-secondary text-white text-center">
    <h1>Listado de productos</h1>
    </div>
        

<table id="data-table"  class="table table-secondary table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.stock }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}